

nav{
  display: block;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:focus {
  text-decoration: none;
  background-color: lightgreen
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: goldenrod
}